.animation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;

    &__bloc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: $font__titre;
        font-weight: bold;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $color__colorbackground-carte;
        color: white;
        //animation: anim_bloc 1s 1s forwards;

        @media screen and (min-width:$largeur__media-ecran-moyen) {
            width: 80px;
            height: 80px;
            font-size: 3rem;
        }
    }

    /* Ajout des délais d'animation pour l'animation du début */
    &__bloc:nth-of-type(1){
        animation: anim_bloc 1s 1s forwards;
    }
    &__bloc:nth-of-type(2){
        animation: anim_bloc 1.2s 1s forwards;
    }
    &__bloc:nth-of-type(3){
        animation: anim_bloc 1.4s 1s forwards;
    }
    &__bloc:nth-of-type(4){
        animation: anim_bloc 1.6s 1s forwards;
    }
    &__bloc:nth-of-type(5){
        animation: anim_bloc 1.8s 1s forwards;
    }
    &__bloc:nth-of-type(6){
        animation: anim_bloc 2s 1s forwards;
    }
    &__bloc:nth-of-type(7){
        animation: anim_bloc 2.2s 1s forwards;
    }

    /* Changement de la position des blocs */
    @keyframes anim_bloc {
        0% {
            transform: translateY(-100vw);
        }

        100% {
            transform: translateY(0);
        }
    }
}