// Changement des couleurs

/* Organisation des couleurs (retrait des couleurs dans les fichiers scss pour tous les ajouter ici) */

/* ---------------- BACKGROUND */
$color__background-body: white;
$color__colorbackground-header: black;
$color__colorbackground-barre: rgb(224, 224, 224);
$color__colorbackground-main: white;
$color__colorbackground-footer: #404040;
$background__link-hover: black;

/* ---------------- LIENS */
$color__link: black;
$color__link-visited: black;
$color__link-hover: white;

/* ---------------- LIENS HEADER */
$color__link__header: #84B9DC;
$color__link__header-hover: white;
$color__link__header-visited: #84B9DC;


/* ---------------- LIENS FOOTER */
$color__link__footer: white;
$color__link__footer-visited: white;
$color__link__footer-hover: #84B9DC;

/* ---------------- LIENS CARTE */
$color__colorbackground-carte-titre: black;
$color__colorbackground-carte: #026FB7;
$color__colorbackground-carte-hover: #84B9DC;
$color__colorbackground-carte-p: black;

/* ---------------- INPUT RECHERCHE */
$color__background-recherche: rgb(48, 48, 48);
$color__background-input: black;

/* ---------------- Couleur des titres du footer */
$color__background-titre-footer: #84B9DC;

/* ---------------- Couleur du titre #2 du header */
$color__colorbackground-header-titre2: white;

/* --------- Boutons / liens */
$color__bouton__color: black;
$color__bouton__background: #a3a3a3;
$color__bouton__background--hover: rgb(224, 224, 224);

$color__bouton__color-current: #026FB7;
$color__bouton__background-current: black;