// Changement des couleurs

/* ---------------- BACKGROUND */
$color__background-body: white;
$color__colorbackground-header: black;
$color__colorbackground-barre: rgb(224, 224, 224);
$color__colorbackground-main: white;
$color__colorbackground-footer: #404040;
$background__link-hover: black;

/* ---------------- LIENS */
$color__link: black;
$color__link-visited: black;
$color__link-hover: white;

/* ---------------- LIENS HEADER */
$color__link__header: #99D7DB;
$color__link__header-hover: white;
$color__link__header-visited: #99D7DB;


/* ---------------- LIENS FOOTER */
$color__link__footer: white;
$color__link__footer-visited: white;
$color__link__footer-hover: #99D7DB;

/* ---------------- LIENS CARTE */
$color__colorbackground-carte-titre: black;
$color__colorbackground-carte: #026FB7;
$color__colorbackground-carte-hover: #026fb77c;
$color__colorbackground-carte-p: black;

/* ---------------- INPUT RECHERCHE */
$color__background-recherche: rgb(48, 48, 48);
$color__background-input: black;

$color__background-titre-footer: #99D7DB;
$color__colorbackground-header-titre2: white;