// Ajustement de la taille, la position et le style de la boite modale
.boite__modale {
    position: fixed;
    top: 25%;
    left: 25%;
    border: 5px solid $color__colorbackground-carte;
    background-color: $color__link;
    width: 50vw;
    height: 50vh;
    transform: scale(0);
    transition: all 1s ease-in-out;

    // Ajustement du bouton de fermeture de la boite
    &__fermeture {
        margin: 5px;
        border-radius: 100%;
        border: 3px solid $color__colorbackground-carte;
        background-color: transparent;
        color: $color__colorbackground-carte;
        font-family: $font__titre;
        font-weight: bold;
        font-size: 1.2rem;

        // Intégration de l'animation lorsque l'on survole le bouton de fermeture avec la souris
        &:hover {
            animation: anim__fermeture .2s ease-out forwards;
        }
    }

    // Ajustement du style du texte de la boite
    &__texte {
        color: $color__link-hover;
        font-family: $font__titre;
        font-size: 1.2rem;
        margin: 5%;
        display: flex;
        justify-content: center;
    }

}

// Agrandissement du scale lorsqu'on ouvre la boite
.ouvrir {
    transform: scale(1);
}

// Transformation du scale lorsqu'on ferme la boite
.fermer {
    transform: scale(0);
}
 // Ajustement du style du bouton qui permet d'ouvrir la boite modale
.cours__desc__ouvrir {
    margin: 2px 0px 0 5px;
    padding: 3px 8px 2px 8px;
    font-weight: bold;
    border: none;
    background-color: $color__link-hover;
    font-size: 0.8rem;
    border-radius: 20px;

    // Intégration de l'animation lorsque l'on survole le bouton de d'ouverture avec la souris
    &:hover {
        animation: anim__transition .2s ease-out forwards;
    }
}

// Création de l'animation du survol du bouton d'ouverture
@keyframes anim__transition {
    0% {
        background-color: $color__link-hover;
    }

    100% {
        background-color: $color__link;
        color: $color__link__header-visited;
        font-size: 0.9rem;
    }
}

// Création de l'animation du survol du bouton de fermeture
@keyframes anim__fermeture {
    100% {
        color: $color__link-hover;
        border: 3px solid $color__link-hover;
    }
}