
.carte__titre{
    font-size: 1.4rem;
    padding-bottom: 5px;
    border-bottom: 2px solid $color__background-body;
    color: $color__colorbackground-carte-titre;
    text-align: left;
    font-family: $font__titre;

    // Retrait du soulignement du lien du titre
    a {
        text-decoration: none;
        color: white;
    }
}

.carte__code{
    font-size: 1rem;
}

.carte__description{
    font-size: 0.9rem;
    text-align: justify;
    color: $color__colorbackground-carte-titre;
}