
.carte__titre{
    font-size: 1.4rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #262220a1;
    color: #262220a1;
    text-align: left;
    font-family: 'Ubuntu';
}

.carte__code{
    font-size: 1rem;
}

.carte__description{
    font-size: 0.9rem;
    text-align: justify;
    color: #262220a1;
}