.footer__menu {
    list-style-type: none;
    padding: 0;
    
    .menu-item a {
        display: flex;
        align-items: center;

        svg {
            padding-right: 10px;
        }
    }
}

// Mise en page grid du footer
.site__footer {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    font-family: $font__main;
    color: white;
    font-size: 0.9rem;

    /* Retrait du soulignement des liens du footer */
    a {
        text-decoration: none;
        color: $color__link-hover;
    }

    /* Ajout d'un padding pour que les lignes soient moins collées entre elles */
    li {
        padding: 3px 0 3px 0;
    }

    /* Ajustement de la taille, couleur et font des titres du footer */
    h2, h3 {
        font-family: $font__titre;
        color: $color__background-titre-footer;
        font-size: 1.2rem;
    }

    .adresse {

        p {
            margin: 0;
            padding: 2px 0 2px 0;
        }
    }

    &__colonne {

        @media screen and (min-width:$largeur__media-tablette) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        section {
            margin: 20px;
        }
    }

    &__ligne {
        section {
            margin: 20px;
        }

        @media screen and (min-width:$largeur__media-tablette) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
        }
    }
    
    /*
    section {
        display: flex;
          flex-direction: column;
          border: 1px solide #ddd;
          flex: 0 0 30%;
          justify-content: space-between;
          align-items: center;
        
        display: grid;
        grid-template-rows: 1fr 1fr 1/3fr;
        align-items: center;

        @media screen and (min-width:$largeur__media-tablette) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }

    p {
        margin: 5%;
    }

    &__nav {
        margin: 5%;
    }

    form {
        margin: 5%;
    }

    &__colonne {
        display: flex;
    }

    &__ligne {
        display: flex;
        flex-direction: column;
    }
    */
}