// Création d'un fichier sass pour les modification du front page
.principal {
    font-family: $font__main;
    //background-color: $color__colorbackground-main;
    padding: 35px 35px;

    // Modification des polices de titre pour le front page
    h1, h2 {
        font-family: $font__titre
    }

    // Modification de la couleur du 2e titre
    h2 {
        color: $color__colorbackground-carte;
    }
}