// Ajustement du menu burger selon la taille de l'écran
#chk-burger {
    display: none;
}

#chk-burger:checked ~ #burger {
    transform: rotate(90deg);
}

#burger{
    display: block;
    
    @media screen and (min-width: $largeur__media-tablette){
        display: none;
    }
}

#chk-burger:checked ~ .site__header__nav {
    display: block;
}

.site__header__nav {
    display: none;
    margin: 0;
    background-color: $color__colorbackground-barre;

    @media screen and (min-width:$largeur__media-tablette) {
        display: block;
        padding: 0 0 0 0;
    }
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site__header__nav {
    
    .menu-item {
        margin: 0;
        
        a {
            display: block;
            padding: 15px;
            text-decoration: none;
            font-family: 'Ubuntu';
            
            &:hover {
                background-color: $background__link-hover;
                transition: .5s;
            }
        }
    }
}

// Ajouter et ajuster les icône du menu principal
.header__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    hr, span {
        display: none;
    }
    
    .menu-item a {
        display: flex;
        align-items: center;

        svg {
            padding-right: 10px;
        }
    }
}