// Ajout du fichier navigation_categorie_cours.scss
/* -------------
Navigation categorie cours
---------------- */
.menu-categorie_cours-container {
    margin-top: 10px;
    
    .menu { //ul
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        font-family: $font__titre;
        font-weight: bold;

        // Adaptation du menu selon largeur des catégorie selon le type d'écran
        @media screen and (min-width:$largeur__media-desktop) {
            flex-direction: row;
        }

        .menu-item { // li
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            background-color: $color__bouton__background;

            span, hr {
                display: none;
            }

            a{
                color: $color__bouton__color;
                text-decoration: none;
            }
            
            &:hover{
                background-color: $color__bouton__background--hover;
            }
        }

        .current-menu-item {
            background-color: $color__bouton__background-current;
            a {
                color: $color__bouton__color-current;
            }
        }
    }
}