// Création d'un fichier sass pour les modification du single
.article {
    // Ajustement de la boite de l'article et de son titre
    margin: 20px;
    padding: 0 20px;
    border-radius: 25px;
    padding: 15px;
    background-color: $color__colorbackground-carte;
    color: $color__link-hover;
    font-family: $font__titre;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;

    // Ajustement du contenu de l'article
    &__contenu {
        font-size: 1rem;
        color: $color__colorbackground-carte-titre;
        font-family: $font__main;
        font-weight: normal;
        text-align: justify;
        padding: 20px 45px 20px 0px;
    }
}