@mixin links($couleur, $couleur_visited, $couleur-hover) {
	color: $color__link;

	&:visited {
		color: $couleur_visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

a {
	@include links($color__link, $color__link-visited, $color__link-hover);
}

.site__footer a {
	@include links($color__link__footer, $color__link__footer-visited, $color__link__footer-hover);
}